<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Transfer WebApp</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    {% if message %}
    <p id="success_msg">{{message}}</p>
    {% endif %}
    <h1>File Transfer</h1>

    <form method='POST' enctype='multipart/form-data'>
        <p>Select multiple files to upload:</p>
        {{ form.hidden_tag() }}
        {{ form.files() }}
        <br>
        {{ form.submit() }}
    </form>
</body>
<script src="../static/bootstrap.min.js"></script>
</html>
